body.index2, html {
	height:100%;
	margin:0;
	padding:0;


}

h1 {
	font-size:95pt;
	font-family: 'Archivo', sans-serif;
	color: white;
	position: absolute;
    padding-left: 50px;
    margin-top:150px;
    text-align:center;
    letter-spacing:0px;
    line-height:1;
    width:1381px;
    padding-top:160px;
}

div.spacing{
	letter-spacing:2.6px;
}

h2 {
	font-size:46pt;
	font-family: 'Archivo', sans-serif;
	color: white;
	letter-spacing: 0.7px;
    font-style:italic;
    text-align:center;
    padding-left: 290px;
    margin-top:445px;
    opacity:0.5;
    font-style: italic;

    

}

img.menu{
	width:73px;
	padding-left:1240px;
	padding-top:40px;
	position:absolute;
}

a.menu{
	font-family: 'Archivo', sans-serif;
	color: white;
	width:50px;
	font-size:12px;
	text-decoration:none;
	padding-right:200px;

}	



img.walkingwombat{
	width:1100px;
	padding-left:170px;
	opacity:0.90;

}

h3 {
	font-size:40px;
	font-family: 'Helvetica', sans-serif;
	color: white;
	padding-left:0px;
	width: 342px;
    font-weight: bold;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;

}



h4{
	font-size:15pt;
	font-family: 'Archivo', sans-serif;
	color: white;
	font-weight:normal;
	width:800px;
	
}

section {
	margin-left:350px;
}
section.content {
	display:inline-block;
	width:825px;
	padding-top:335px;
	background-color:blue;
	opacity:50%;
	margin-left:350px;
}

div.block1{
	

}

div.block2{
	

}

div.block3{


}

div.description {


}

div.boxed{
	border:7pt solid white;
    text-align: center;
    padding: 0em;
    margin-top:20px;
    margin-left:207px;
    margin-right:337px;
    
}

div.boxed:hover{
	filter:opacity(50%);
}



body.index2 {
	background-image: url("background.jpg");
	position:absolute;
	background-size:cover;
	background-repeat: no-repeat;
	float:left;
	width:auto;
	background-position:top center;
	background-height:4000px;
}



div.bar1, .bar2, .bar3 {
	width: 50px;
    height: 7px;
    background-color: white;
    margin: 6px 0;
    float:right;
    transition: 0.4s
}


.hamburger {
	display: block;
    background-image: url(menu.png);
    width:60px;
    height:60px;
    background-color:transparent;
    background-size:contain;
    border:none;
}

div.menu:hover{
	filter:opacity(50%);
}

div.menu{
position:relative;
z-index:10;

	position: absolute;
    left: 1250px;
    top: 45px;

}


div.menu-content {
	display: none;
	font-family: 'Archivo', sans-serif;
	font-weight:normal;
	font-size:9pt;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


