p1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FB8E78;
}

#button: {
	float:right;
}

#button:hover {
	opacity:50%;
}
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FB8E78;
	position:left;

}

p2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#FB8E78;
	position: left;
	margin:right:600px;
	float: right;
	text-align:left;

}
#lyrics {
	float:left;
	width:30%;
	padding-left:90px;
	line-height:1.2;
	z-index:500;
	background-color:white;

}

#about {
	float:left;
	width:30%;
	padding-left:90px;
	line-height:1.2;
	background-color:white;
	z-index:500;
}


i.fa.fa-facebook-square {
	font-size:41px;
}

#hoopstext {
	position:fixed;
	margin-left:45px;
	margin-top:85px;

}