div {
	width: 800px;
	margin-left: 200px;
	text-align: left;
}
span {
	text-decoration: bold;
	color: purple;
	text-decoration: underline;
}
span.second_span {
	text-decoration-style: italic
	color: pink;
}