body {
	font-family: 'Kaushan Script', cursive;
	font-size: 12px; /* %, em, rem */
	text-align:center;
}
h1 {
	font-family:'Abril Fatface', cursive;
	font-size: 50px;
	text-decoration: underline;
	color:green;
}
h2 {
	font-family:'Abril Fatface', cursive;
	font-size: 18px;
	font-style: italic;
	color: red;

}